.navbar {
  background-color: transparent;
}

.navbar #navbarText {
  text-align: center;
}

.navbar a {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.897) !important;
  font-family: 'Heebo', sans-serif;
}

.navbar span {
  font-size: 25px !important;
}

.navbar #logo {
  font-size: 40px !important;
  color: #f9ca24 !important;
  font-family: 'Indie Flower', cursive;
}

.navbar a:hover {
  color: #f9ca24 !important;
}

.btn {
  border-radius: 10px;
  padding: 8px 40px;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  color: white !important;
  background-color: transparent !important;
  border: 1px solid #f9ca24;
}

.btn:hover {
  background-color: #f9ca24 !important;
  color: #222f3e !important;
}

@media screen and (max-width: 424px) {
  .btn {
    padding: .2rem 1.0rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 18px;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: auto;
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: 'Indie Flower', cursive;
  overflow-x: hidden !important;
}

body::-webkit-scrollbar {
  width: 12px;
  background: #222f3e;
}

body::-webkit-scrollbar-thumb {
  background: #f9ca24;
  border-radius: 5px;
}

.contenedor {
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (max-width: 800px) {
  .contenedor {
    margin-left: 0;
    margin-right: 0;
  }
}

.m {
  color: white;
}

header {
  width: 100%;
  height: auto;
  background: url(../images/selective-focus-photography-of-beef-steak-with-sauce-675951.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 400px) {
  header {
    background-position: center;
    background-size: cover;
  }
}

header .color-header {
  width: 100%;
  background: rgba(0, 0, 0, 0.596);
  height: inherit;
}

.div-bienvenida {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div-bienvenida div {
  width: 75%;
  height: auto;
  text-align: left;
  padding: 40px 0px;
}

@media screen and (max-width: 820px) {
  .div-bienvenida div {
    width: 100%;
    text-align: center;
  }
}

.div-bienvenida div h1 {
  font-size: 60px;
  color: white;
}

@media screen and (max-width: 1000px) {
  .div-bienvenida div h1 {
    font-size: 55px;
    padding: 20px;
  }
}

@media screen and (max-width: 750px) {
  .div-bienvenida div h1 {
    font-size: 50px;
    padding: 5px;
  }
}

@media screen and (max-width: 520px) {
  .div-bienvenida div h1 {
    font-size: 32px;
    padding: 0px;
  }
}

.div-bienvenida div h1 span {
  color: #f9ca24;
  border-radius: 5px;
}

.div-bienvenida .div-boton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 820px) {
  .div-bienvenida .div-boton {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.div-bienvenida .div-boton a {
  margin: 1% 1%;
}

.div-raya {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-raya hr {
  width: 50px;
  height: 10px;
  background: #f9ca24;
  border: #f9ca24;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 1px 10px 10px rgba(55, 61, 0, 0.616);
          box-shadow: 1px 10px 10px rgba(55, 61, 0, 0.616);
}

.seccion-horario {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion-horario h1 {
  color: #f9ca24;
}

@media screen and (max-width: 512px) {
  .seccion-horario h1 {
    font-size: 30px;
  }
}

.seccion-horario .sub-horario {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.seccion-horario .sub-horario div {
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion-horario .sub-horario div p {
  font-size: 22px;
  color: #222f3e;
  font-weight: bold;
}

@media screen and (max-width: 512px) {
  .seccion-horario .sub-horario div p {
    font-size: 18px;
    font-weight: initial;
  }
}

.seccion-0 {
  width: 100%;
  height: auto;
}

.seccion-0 .sub-0 {
  margin-top: 0px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.seccion-0 .sub-0 div {
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px auto;
}

@media screen and (max-width: 600px) {
  .seccion-0 .sub-0 div {
    width: 100%;
  }
}

.seccion-0 .sub-0 div h1 {
  font-size: 40px;
  color: #222f3e;
}

@media screen and (max-width: 600px) {
  .seccion-0 .sub-0 div h1 {
    font-size: 38px;
  }
}

.seccion-0 .sub-0 div h1 span {
  background-color: #222f3e;
  color: #f9ca24;
}

.seccion-0 .sub-0 div p {
  color: #222f3e;
  font-size: 18px;
}

.seccion-0 .sub-0 div p span {
  color: rgba(0, 0, 0, 0.795);
}

.seccion-0 .sub-0 div img {
  width: 80%;
}

.seccion-0 .sub-1 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.seccion-0 .sub-1 div {
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px auto;
}

@media screen and (max-width: 600px) {
  .seccion-0 .sub-1 div {
    width: 100%;
  }
}

.seccion-0 .sub-1 div h1 {
  font-size: 40px;
  color: #222f3e;
}

@media screen and (max-width: 600px) {
  .seccion-0 .sub-1 div h1 {
    font-size: 38px;
  }
}

.seccion-0 .sub-1 div h1 span {
  background-color: #222f3e;
  color: #f9ca24;
}

.seccion-0 .sub-1 div p {
  color: #222f3e;
  font-size: 18px;
}

.seccion-0 .sub-1 div p span {
  color: rgba(0, 0, 0, 0.795);
}

.seccion-0 .sub-1 div img {
  width: 80%;
}

.seccion-0 .sub-2 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.seccion-0 .sub-2 div {
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px auto;
}

@media screen and (max-width: 600px) {
  .seccion-0 .sub-2 div {
    width: 100%;
  }
}

.seccion-0 .sub-2 div h1 {
  font-size: 40px;
  color: #222f3e;
}

@media screen and (max-width: 600px) {
  .seccion-0 .sub-2 div h1 {
    font-size: 38px;
  }
}

.seccion-0 .sub-2 div h1 span {
  background-color: #222f3e;
  color: #f9ca24;
}

.seccion-0 .sub-2 div p {
  color: #222f3e;
  font-size: 18px;
}

.seccion-0 .sub-2 div p span {
  color: rgba(0, 0, 0, 0.795);
}

.seccion-0 .sub-2 div img {
  width: 80%;
}

.seccion-1 {
  width: 100%;
  height: auto;
  background: white;
}

.seccion-1 .sec-1 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.seccion-1 .sec-1 div {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .seccion-1 .sec-1 div {
    width: 100%;
  }
}

.seccion-1 .sec-1 div h1 {
  color: #222f3e;
  padding: 50px;
  font-size: 50px;
}

@media screen and (max-width: 600px) {
  .seccion-1 .sec-1 div h1 {
    font-size: 40px;
    padding: 5px;
  }
}

.seccion-1 .sec-1 div h1 span {
  color: #f9ca24;
}

.div-reserva {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-reserva div {
  width: 5%;
  margin: 0px 20px;
}

.div-reserva div img {
  max-width: 80%;
}

.div-reserva div h2 {
  padding: 0px;
  color: #222f3e;
}

.seccion-menu {
  width: 100%;
  height: auto;
  background-color: #222f3e;
}

.seccion-menu .main-menu {
  width: 100%;
  margin: 0px 0px;
  text-align: center;
}

.seccion-menu .main-menu div h1 {
  font-size: 50px;
  color: #f9ca24;
}

.seccion-menu .main-1 {
  width: 100%;
  height: auto;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.seccion-menu .main-1 div {
  width: 550px;
  margin: 5px auto;
}

.seccion-menu .main-1 div div {
  width: 100%;
}

.seccion-menu .main-1 div div p {
  padding: 10px;
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 450px) {
  .seccion-menu .main-1 div div p {
    padding: 5px;
    font-size: 18px;
  }
}

.seccion-menu .main-1 div div span {
  color: #f9ca24;
  background: #222f3e;
}

.seccion-menu .main-1 div img {
  width: 80%;
  border-radius: 5px;
}

.seccion-menu .main-2 {
  width: 100%;
  height: auto;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.seccion-menu .main-2 div {
  width: 550px;
  margin: 10px auto;
}

.seccion-menu .main-2 div div {
  width: 100%;
}

.seccion-menu .main-2 div div p {
  padding: 20px;
  font-size: 20px;
  color: white;
}

.seccion-menu .main-2 div div span {
  color: #f9ca24;
  background: #222f3e;
}

.seccion-menu .main-2 div img {
  width: 70%;
  border-radius: 5px;
}

.seccion-1 {
  width: 100%;
  height: auto;
  background-color: #222f3e;
}

.seccion-1 .div-sec-1 {
  width: 100%;
  height: auto;
}

.seccion-1 .div-sec-1 div {
  padding: 30px 0px;
  text-align: center;
}

.seccion-1 #btn-reservar {
  padding: 10px 50px;
}

footer {
  width: 100%;
  height: auto;
  background-color: #222f3e;
}

footer .div-footer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .div-footer div {
  width: 200px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .div-footer div h1 {
  font-size: 25px;
  color: white;
}

footer .div-footer div p {
  color: rgba(255, 255, 255, 0.705);
}

footer .div-footer div a {
  color: #f9ca24;
  text-decoration: underline;
}

@media screen and (max-width: 450px) {
  footer .div-footer div {
    margin: 20px 0px;
  }
}

footer .copy {
  width: 100%;
  height: auto;
  text-align: center;
}

footer .copy p {
  margin: 0px;
  color: white;
}

footer .copy a {
  color: #f9ca24;
  text-decoration: underline;
}
/*# sourceMappingURL=estilos.css.map */