@import './componentes/componentes.scss';

*{
    margin: 0;
    padding: 0;
}

html{

    scroll-behavior: auto;
    scroll-behavior: smooth;
    
}


body{
    // background: rgb(34, 47, 62); 
    background: white;
    @include font1;
}

body::-webkit-scrollbar{
    width: 12px;
    background:$negro;
}

body::-webkit-scrollbar-thumb{
    background: $amarillo;
	border-radius: 5px;
}

.contenedor{
    margin-left: 5%;
    margin-right: 5%;

    @media screen and (max-width:800px) {
        margin-left: 0;
        margin-right: 0;
    }

}



.m{
    color: white;
}

header{
    width: 100%;
    height: auto;
    background: url(../images/selective-focus-photography-of-beef-steak-with-sauce-675951.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

    @media screen and (max-width:400px) {
        background-position:center;
        background-size: cover;
    }


    .color-header{
        width: 100%;
        background: rgba(0, 0, 0, 0.596);
        height: inherit;
    }

}

// .navbar {
//     background-color: transparent;
//     // background-color: rgb(255, 145, 0);

//     #navbarText{
//         text-align: center; 
//     }

//     a{
//         font-size: 20px;
//         color: rgba(255, 255, 255, 0.897) !important;
//         @include font2;
//     }
//     span{
//         font-size: 25px !important;
//     }

//     #logo{
//         font-size: 40px !important;
//         color: $amarillo !important;
//         @include font1;
//     }
//     a:hover{
//         color: $amarillo !important;
//     }
// }



.div-bienvenida{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @media screen and (max-width:400px) {
    }

    div{
        width: 75%;
        height: auto;
        text-align: left;
        padding: 40px 0px;
        @media screen and (max-width:820px) {
                width: 100%;
                text-align: center;
        }

        h1{
            font-size: 60px;
            color: white;

            @media screen and (max-width:1000px) {
                font-size: 55px;
                padding: 20px;
            }

            @media screen and (max-width:750px) {
                font-size: 50px;
                padding: 5px;
            }

            @media screen and (max-width:520px) {
                font-size: 32px;
                padding: 0px;
            }

            span{
                color: rgb(249, 202, 36);
                border-radius: 5px;
            }
        }

    }

    .div-boton{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        @media screen and (max-width:820px) {
            width: 100%;
            justify-content: center;
            align-items: center;
    }
        a{
            margin: 1% 1%;
        }
    }


}

.div-raya{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    hr{
        width: 50px;
        height: 10px;
        background: #f9ca24;
        border: #f9ca24;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 10px 10px rgba(55, 61, 0, 0.616);
    }
}

.seccion-horario{
    width: 100%;
    height: auto;
    // background: $negro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1{
        color: $amarillo;

        @media screen and (max-width:512px){
            font-size: 30px;
        }
    }
    .sub-horario{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;

        div{
            width: 50%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p{
                font-size: 22px;
                color: $negro;
                font-weight: bold;

                @media screen and (max-width:512px){
                    font-size: 18px;
                    font-weight: initial;
                }
            }
        }
    }
}

.seccion-0{
    width: 100%;
    height: auto;
    .sub-0{
        margin-top: 0px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div{
            width:540px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items:flex-start;
            margin: 20px auto;;

            @media screen and (max-width:600px){
                width: 100%;
            }

            h1{
                font-size: 40px;
                color: $negro;

                @media screen and (max-width:600px){
                    font-size: 38px;
                }

                span{
                    background-color: $negro;
                    color: $amarillo;
                }
            }

            p{
                color: $negro;
                font-size: 18px;

                span{
                    color: rgba(0, 0, 0, 0.795);
                }
            }

            img{
                width: 80%;
            }
            
        }
    }

    .sub-1{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            margin-top: 50px;
            margin-bottom: 50px;
            div{
                width:540px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items:flex-start;
                margin: 20px auto;;

                @media screen and (max-width:600px){
                    width: 100%;
                }

                h1{
                    font-size: 40px;
                    color: $negro;

                    @media screen and (max-width:600px){
                        font-size: 38px;
                    }

                    span{
                        background-color: $negro;
                        color: $amarillo;
                    }
                }

                p{
                    color: $negro;
                    font-size: 18px;
    
                    span{
                        color: rgba(0, 0, 0, 0.795);
                    }
                }

                img{
                    width: 80%;
                }
                
            }
        }

        .sub-2{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 50px;
            margin-bottom: 50px;
            div{
                width:540px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items:flex-start;
                margin: 20px auto;;

                @media screen and (max-width:600px){
                    width: 100%;
                }

                h1{
                    font-size: 40px;
                    color: $negro;

                    @media screen and (max-width:600px){
                        font-size: 38px;
                    }

                    span{
                        background-color: $negro;
                        color: $amarillo;
                    }
                }

                p{
                    color: $negro;
                    font-size: 18px;
    
                    span{
                        color: rgba(0, 0, 0, 0.795);
                    }
                }

                img{
                    width: 80%;
                }
                
            }
        }


}


.seccion-1{
    width: 100%;
    height: auto;
    // background: rgb(34, 47, 62); 
    background: white;   

    .sec-1{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-wrap: wrap;   

        div{
            width: 80%;
            margin: 0px auto;
            text-align: center;
            @media screen and (max-width:600px) {
                width: 100%;
            }  

            h1{
                color: $negro;
                padding: 50px;
                font-size: 50px;

                @media screen and (max-width:600px) {
                    font-size: 40px;
                    padding: 5px;
                }  

                span{
                    color: $amarillo;
                }
            }
        }
    }
}

.div-reserva{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    div{
        width: 5%;
        margin: 0px 20px;
        img{
            max-width: 80%;
        }
        h2{
            padding: 0px;
            color: $negro;
    
        }
    }
}

.seccion-menu{
    width: 100%;
    height: auto;
    background-color: $negro;
    
    .main-menu{
        width: 100%;
        margin: 0px 0px;
        text-align: center;

        div{
            
            h1 {
                font-size: 50px;
                color:$amarillo;  
            }
        }
    }

    .main-1{
        width: 100%;
        height: auto;
        margin:20px auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        div{
            width:550px;
            margin: 5px auto;
            

            div{
                width: 100%; 
                p{
                    padding:10px;
                    font-size: 20px;
                    color:white;
                    
                    @media screen and (max-width:450px) {
                        padding: 5px;
                        font-size: 18px;
                    }
                }

                span{
                    color: $amarillo;
                    background: $negro;
                }

            }

            img {
                width: 80%;
                border-radius: 5px;
            }
        }
    }

    .main-2{
        width: 100%;
        height: auto;
        margin: 0px auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        div{
            width:550px;
            margin: 10px auto;

            div{
                width: 100%;

                
                p{
                    padding: 20px;
                    font-size: 20px;
                    color: white;
                }

                span{
                    color: $amarillo;
                    background: $negro;
                }
            }

            img {
                width: 70%;
                border-radius: 5px;
            }
        }
    }
}

.seccion-1 {
    width: 100%;
    height: auto;
    background-color: $negro;
    .div-sec-1{
        width: 100%;
        height: auto;
        div {
            padding: 30px 0px;
            text-align: center;
        }
    }

    #btn-reservar {
        padding: 10px 50px;
    }
}


footer {
    width: 100%;
    height: auto;
    background-color: $negro;
    .div-footer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div {
            width: 200px;
            margin: 20px auto;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 25px;
                color: white;
            }

            p {
                color: rgba(255, 255, 255, 0.705);
            }

            a {
                color: $amarillo;
                text-decoration: underline;
            }
        }

        @media screen and(max-width:450px){
            div{
                margin: 20px 0px;
            }
        }
    }

    .copy {
        width: 100%;
        height: auto;
        text-align: center;
        p {
            margin: 0px;
            color: white;
        }

        a {
            color: $amarillo;
            text-decoration: underline;
        }
    }
}