* {
  margin: 0;
  padding: 0; }

html {
  font-family: 'Solway', serif; }

body {
  background: #222f3e; }

.contenedor {
  margin-left: 5%;
  margin-right: 5%; }

header {
  width: 100%;
  height: 100vh;
  background: url(../images/selective-focus-photography-of-beef-steak-with-sauce-675951.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  header .color-header {
    width: 100%;
    background: rgba(0, 0, 0, 0.541);
    height: inherit; }
  header .div-menu {
    height: 10vh;
    background: rgba(255, 255, 255, 0); }
  header .sub-header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row; }
    header .sub-header div {
      width: 50%;
      height: inherit;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      header .sub-header div p {
        font-size: 25px;
        color: white; }
    header .sub-header nav {
      width: 50%;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center; }
      header .sub-header nav ul {
        list-style: none; }
      header .sub-header nav a {
        text-decoration: none;
        font-size: 19px;
        padding: 5px;
        color: white;
        font-weight: 500; }
      header .sub-header nav a:hover {
        transition: all .1s;
        border-bottom: 3px solid #f9ca24; }
  header .div-raya {
    width: 100%;
    height: 100px;
    z-index: 10;
    background: red; }
    header .div-raya hr {
      width: 20%;
      height: 200px; }

.div-bienvenida {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }
  .div-bienvenida div {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
    .div-bienvenida div h1 {
      font-size: 70px;
      color: white; }
      .div-bienvenida div h1 span {
        color: #f9ca24;
        border-radius: 5px; }

.seccion-1 {
  width: 100%;
  height: auto;
  background: #222f3e; }
  .seccion-1 .sec-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    .seccion-1 .sec-1 div {
      width: 80%;
      margin: 60px auto;
      text-align: center; }
      .seccion-1 .sec-1 div h1 {
        color: white;
        padding: 0px;
        font-size: 70px; }
        .seccion-1 .sec-1 div h1 span {
          color: #f9ca24; }
      .seccion-1 .sec-1 div p {
        padding: 0px;
        color: white;
        font-size: 20px; }

.seccion-menu {
  width: 100%;
  height: auto;
  background: #222f3e; }
  .seccion-menu .main-menu {
    width: 100%;
    padding-top: 50px;
    text-align: center; }
    .seccion-menu .main-menu h1 {
      font-size: 50px;
      color: #f9ca24; }
  .seccion-menu .main-1 {
    width: 100%;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; }
    .seccion-menu .main-1 div {
      width: 550px;
      margin: 10px auto; }
      .seccion-menu .main-1 div div {
        width: 100%; }
        .seccion-menu .main-1 div div p {
          padding: 20px;
          font-size: 20px;
          color: white; }
        .seccion-menu .main-1 div div span {
          color: #f9ca24; }
      .seccion-menu .main-1 div img {
        width: 80%;
        border-radius: 5px; }
  .seccion-menu .main-2 {
    width: 100%;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; }
    .seccion-menu .main-2 div {
      width: 550px;
      margin: 10px auto; }
      .seccion-menu .main-2 div div {
        width: 100%; }
        .seccion-menu .main-2 div div p {
          padding: 20px;
          font-size: 20px;
          color: white; }
        .seccion-menu .main-2 div div span {
          color: #f9ca24; }
      .seccion-menu .main-2 div img {
        width: 70%;
        border-radius: 5px; }

/*# sourceMappingURL=estilos.css.map */
