$negro:#222f3e;
$amarillo: #f9ca24;


@mixin font1 {
    font-family: 'Indie Flower', cursive;
}

@mixin font2 {
    font-family: 'Heebo', sans-serif;
}

.navbar {
    background-color: transparent;
    // background-color: rgb(255, 145, 0);

    #navbarText{
        text-align: center; 
    }

    a{
        font-size: 20px;
        color: rgba(255, 255, 255, 0.897) !important;
        @include font2;
    }
    span{
        font-size: 25px !important;
    }

    #logo{
        font-size: 40px !important;
        color: $amarillo !important;
        @include font1;
    }
    a:hover{
        color: $amarillo !important;
    }
}


.btn{
    border-radius: 10px;
    padding: 8px 40px;
    font-size: 16px;
    @include font2;
    color: white !important;
    background-color: transparent !important;
    border: 1px solid $amarillo;

    &:hover {
        background-color: $amarillo !important;
        color: $negro !important;
    }
    
    @media screen and (max-width:424px) {
        padding: .2rem 1.0rem;
        font-size: 1.1rem;
        line-height: 1.5;
        border-radius: 18px;
    }
}
